body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background: rgb(7, 187, 219);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

div.title {
    height: 10em;
    padding: 2.9em;
    position: relative;
}
div.title p {
    margin: 0;
    font-size: 3.5em;
    position: absolute;
    left: 50vw;
    margin-right: -50vw;
    transform: translate(-50%, -50%);
}

.systemselections {
    position:absolute;
    bottom:0;
    margin-left: 50%;
    margin-bottom: 10%;
    transform: translate(-50%, -50%);
}

.plotselections {
    position:absolute;
    bottom:0;
    margin-left: 50%;
    margin-bottom: 5%;
    transform: translate(-50%, -50%);
}


.himawari {
    position: absolute;
    margin-top: 20%;
    left: 50vw;
    margin-right: -50vw;
    width: 40vw;
    transform: translate(-50%, -50%);
}

.curve_chart {
    position:relative;
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    background-color:#f19d4e;
    text-align:center;
    transition: all 0.2s;
    }
    button:hover{
    background-color:#c68140;
    }

@media only screen and (max-device-width: 480px) {
    .himawari {
        position: absolute;
        margin-top: 5%;
        left: 50vw;
        margin-right: -50vw;
        width: 90vw;
        transform: translate(-50%, -50%);
	}

    div.systemselections {
        position: absolute;
        margin-right: -50vw;
        margin-bottom: 40%;
    }

    div.plotselections {
        position: absolute;
        left: 10vw;
        margin-right: -30vw;
        margin-bottom: 5%;
    }

    .curve_chart {
        position: absolute;
        margin-top: 20vh;
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }
}


